<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/platform/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <style>
        .rating-color{
            color:#fbc634 !important;
        }
    </style>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%-include("../partials/sidebar")%>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <%-include("../partials/header")%>
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="mb-4">
                        <h4 class="my-1 mb-2">Submit a Course Review</h4>
                        <div class="timeline-desc fs-3 text-dark mt-n1 mb-2">This is a platform to collate course reviews for students that enable them to make better more informed academic choices. </div>
                        <a href="#" class="d-block">Link to the policy</a>
                      </div>
                    <form id="ticketForm" action="/platform/fill-course-review" method="POST">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                      <div class="flex-row mb-2">
                                        <span class="fs-6 fw-semibold">Introduction to Computer Programming</span>
                                      </div>
                                      <div class="flex-row mb-3">
                                        <ul class="list-inline">
                                          
                                          <span style="float: right;" class="fs-3 text-dark fw-semibold">
                                              Offered: Monsoon, 2023
                                          </span>                                            
                                        </ul>
                                      </div>
                                      <div class="card" style="background-color: #eaeff4;">
                                          <div class="card-body">
                                            <h5 class="card-title">Description</h5>
                                            <div id="description" value="false" class="card-text">Concept of an algorithm; principle of mathematical induction; correctness of algorithms; efficiency of algorithms - time and space measures; algorithms to programs; specification, top-down development and step-wise refinement; the notion of state and finite state machine; imperative programs; correctness and loop invariants; basic algorithm design techniques; encapsulation, abstractions and modularity; basics of object-oriented programming; basic logic, soundness and completeness, example of a propositional resolution; an example of concurrency; an intro to numerical computation.</div>
                                          </div>
                                      </div>
                                      <div><a href="javascript:void(0)" id="more" onclick="toggleDescription()">read more</a></div>
                                      <br />
                                      <div class="col-md-12">
                                          <div style="box-shadow: none;" class="card">
                                              <div class="accordion" id="accordionExample">
                                                  <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        <span style="font-size: 10px;" class="fs-3 text-dark fw-semibold">Overall Rating:</span>
                                                         <div style="padding-left: 2%;" class="small-ratings">
                                                          <i class="fa fa-star rating-color"></i>
                                                          <i class="fa fa-star rating-color"></i>
                                                          <i class="fa fa-star rating-color"></i>
                                                          <i class="fa fa-star-half rating-color"></i>
                                                          <span style="padding-left: 2px;" class="card-text">(3.5)</span>
                                                        </div>
                                                      </button>
                                                    </h2>
                                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                      <div class="accordion-body">
                                                        <div class="mt-1 d-flex justify-content-between align-items-center">
                                                          <span class="card-text fw-semibold">Grading Transparency</span>
                                                            <div class="small-ratings">
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <span style="padding-left: 2px;" class="card-text">(3.1)</span>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="mt-1 d-flex justify-content-between align-items-center">
                                                          <span class="card-text fw-semibold">Assignment Relatability</span>
                                                            <div class="small-ratings">
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        <div class="mt-1 d-flex justify-content-between align-items-center">
                                                          <span class="card-text fw-semibold">Distributed Grading</span>
                                                            <div class="small-ratings">
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        <div class="mt-1 d-flex justify-content-between align-items-center">
                                                          <span class="card-text fw-semibold">Lecture Quality</span>
                                                            <div class="small-ratings">
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star-half rating-color"></i>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        <div class="mt-1 d-flex justify-content-between align-items-center">
                                                          <span class="card-text fw-semibold">Influence of TF/TA</span>
                                                            <div class="small-ratings">
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="mt-1 d-flex justify-content-between align-items-center">
                                                          <span class="card-text fw-semibold">Recommended</span>
                                                            <div class="small-ratings">
                                                                <i class="fa fa-star rating-color"></i>
                                                                <i class="fa fa-star rating-color"></i>
                                                            </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                      </div>
                                    </div>
                                <h5 class="card-title fw-semibold mb-4">Submit a course review</h5>
                                <div class="card" id="firstPart">
                                    <div style="background-color: #eaeff4;" class="card-body">
                                        
                                            <div class="mb-3">
                                                <label for="newTicketTitle" class="form-label">Course Name</label>
                                                <input disabled required name="subject" type="course" class="form-control" id="name" placeholder="NameofCourse">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newTicketTitle" class="form-label">Faculty</label>
                                                <input disabled required name="subject" type="faculty" class="form-control" id="faculty">
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">Select Your Batch</label>
                                                <select required name="Batch" id="batch" class="form-select">
                                                    <option disabled selected>Select</option>
                                                    <option>UG 2023 (First Years)</option>
                                                    <option>UG 25</option>
                                                    <option>UG 24</option>
                                                    <option>ASP 23</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">Select Grade Received</label>
                                                <select required name="category" id="grade" class="form-select">
                                                    <option disabled selected>Select</option>
                                                    <option>A/A-</option>
                                                    <option>B+/B/B-</option>
                                                    <option>C+/C/C-</option>
                                                    <option>D+/D/D-</option>
                                                    <option>F</option>
                                                    <option>Have Not Received Yet</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">Course Conducted</label>
                                                <select required name="category" id="courseConducted" class="form-select">
                                                    <option disabled selected>Online/Offline</option>
                                                    <option>Online</option>
                                                    <option>Offline</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">Course Grading</label>
                                                <select required name="category" id="courseGrading" class="form-select">
                                                    <option disabled selected>Absolute/Relative</option>
                                                    <option>Absolute</option>
                                                    <option>Relative</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newTicketBody" class="form-label">Do You Have Any General Comments On The Course?</label>
                                                <textarea rows="5" name="generalComments" class="form-control" id="generalComments"></textarea>
                                            </div>
                                            <button type="button" style="float: right;" onclick="nextSection()" class="btn btn-primary">Next</button>
                                    </div>
                                </div>
                                <div class="card" style="display: none;" id="secondPart">
                                    <div style="background-color: #eaeff4;" class="card-body">

                                            <div class="mb-3">
                                                <label for="select" class="form-label">How Transparent Was The Grading System?</label>
                                                <select required name="transparent" id="transparent" class="form-select">
                                                    <option disabled selected>1 - Highly Ambiguous; 5 - Highly Transparent</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">Extra Credit Provided</label>
                                                <select required name="extraCredit" id="extraCredit" class="form-select">
                                                    <option disabled selected>Yes/No</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">How Relatable Were Assignments</label>
                                                <select required name="assignmentRel" id="assignmentRel" class="form-select">
                                                    <option disabled selected>1 - Unrelated 5 - Taught</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">Is the professor a good orator/communicator/lecturer?</label>
                                                <select required name="goodOrator" id="goodOrator" class="form-select">
                                                    <option disabled selected>1 - Bad; 5 - Good</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="select" class="form-label">How Highly Would You Recommend The Course</label>
                                                <select required name="recommend" id="recommend" class="form-select">
                                                    <option disabled selected>1 - No; 5 - Yes</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newTicketBody" class="form-label">Do You Have Any Feedback/Suggestions For The Review System?</label>
                                                <textarea rows="5" name="feedback" class="form-control" id="feedback"></textarea>
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input name="share" type="checkbox" class="form-check-input" id="shareDetails"
                                                    aria-describedby="detailsHelp">
                                                <label class="form-check-label" for="exampleCheck1">Share My
                                                    Details</label>
                                                <div id="detailsHelp" class="form-text">Student will not by default know your details. Do you wish to disclose them?</div>
                                            </div>
                                            <button type="button" onclick="prevSection()" class="btn btn-primary">Back</button>
                                            <button style="float: right;" type="submit" class="btn btn-primary">Submit Review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/platform/assets/js/sidebarmenu.js"></script>
    <script src="/platform/assets/js/app.min.js"></script>
    <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/platform/assets/js/dashboard.js"></script>
    <script src="/platform/assets/js/darkmode.js"></script>
    <script src="/platform/assets/js/copytext.js"></script>
    <script>
        function nextSection() {
            var sectionTwo = document.getElementById('secondPart');
            var sectionOne = document.getElementById('firstPart');
            sectionOne.style.display = 'none';
            sectionTwo.style.display = 'block';
        }
        function prevSection() {
            var sectionTwo = document.getElementById('secondPart');
            var sectionOne = document.getElementById('firstPart');
            sectionOne.style.display = 'block';
            sectionTwo.style.display = 'none';
        }
    </script>
</body>

</html>