<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/platform/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/platform/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" integrity="sha512-SqYaQuhE5QDV46cU4yX/gPe6vXUnqLMxnpa0kBm36BT2rkZ66u5hDq5APKe9pcw/SgTkbXpY4HjOyddisEC4OQ==" crossorigin="anonymous" />
  <script type='text/javascript' src='fullcalendar/gcal.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.11.3/main.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.11.3/main.global.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        start: 'prev,today,next',
        center: 'title',
        end: 'dayGridMonth,dayGridWeek,listWeek'
      },
      timeZone: 'Europe/Berlin',
      weekNumbers: true,
      initialView: 'dayGridMonth',
      eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      views: {
        dayGridWeek: {
          titleFormat: '{DD.{MM.}}YYYY'
        },
        listWeek: {
          titleFormat: '{DD.{MM.}}YYYY'
        }
      },
      events: [
        {
          title: "Festival in HH",
          start: moment().add(1, 'days').format(),
          end: moment().add(4, 'days').add(3, 'hours').format(),
          className: 'festival',
          color: 'orange',
          textColor: 'black',
          kind: 'festival',
          state: 'hh'
        },
        {
          title: "Party in HH",
          start: moment().subtract(2, 'days').format(),
          end: moment().subtract(2, 'days').add(3, 'hours').format(),
          color: 'brightblue',
          textColor: 'white',
          kind: 'party',
          state: 'hh'
        },
        {
          title: "Party in SH",
          start: moment().format(),
          end: moment().add(3, 'hours').format(),
          color: 'brightblue',
          textColor: 'white',
          kind: 'party',
          state: 'sh'
        },
        {
          title: "Concert in SH",
          start: moment().add(1, 'days').format(),
          end: moment().add(1, 'days').add(3, 'hours').format(),
          color: 'red',
          textColor: 'white',
          kind: 'concert',
          state: 'sh'
        },
        {
          title: "Concert in HH",
          start: moment().subtract(3, 'days').format(),
          end: moment().subtract(3, 'days').add(3, 'hours').format(),
          color: 'red',
          textColor: 'white',
          kind: 'concert',
          state: 'hh'
        },
        {
          title: "#1 Background title",
          start: moment().subtract(6, 'days').format('YYYY-MM-DD'),
          end: moment().subtract(2, 'days').format('YYYY-MM-DD'),
          display: 'background',
          kind: 'holiday',
        },
        {
          title: "#2 title",
          start: moment().subtract(8, 'days').format('YYYY-MM-DD'),
          end: moment().subtract(8, 'days').format('YYYY-MM-DD'),
          display: 'background',
          color: '#ff9f89',
          kind: 'holiday',
        },
        {
          // FIX: Two Background events overlap each other
          title: "#3 Overlap",
          start: moment().subtract(8, 'days').format('YYYY-MM-DD'),
          end: moment().subtract(8, 'days').format('YYYY-MM-DD'),
          display: 'background',
          kind: 'holiday',
        }
      ],
      eventClassNames: function(info) {
        
        var result = true;
        var states = [];
        var kinds = [];
        
        // Find all checkbox that are event filters and enabled and save the values.
        $("input[name='event_filter_sel']:checked").each(function () {
          // Saving each type separately
          if ($(this).data('type') == 'state') {
            states.push($(this).val());
          }
          else if ($(this).data('type') == 'kind') {
            kinds.push($(this).val());
          }
        });
        
        // If there are locations to check
        if (states.length) {
          result = result && states.indexOf(info.event.extendedProps.state) >= 0;
        }
        // If there are specific types of events
        if (kinds.length) {
          result = result && kinds.indexOf(info.event.extendedProps.kind) >= 0 || info.event.extendedProps.kind == 'holiday';
        }
        
        if (!result) {
          result = "hidden";
        }
        
        return result;
      },

      windowResize: function(view) {
        var current_view = view.type;
        var expected_view = $(window).width() > 800 ? 'dayGridMonth' : 'listWeek';
        if (current_view !== expected_view) {
          calendar.changeView(expected_view);
        }
      },
    });

    calendar.render();

    if ($(window).width() < 800) {
      calendar.changeView('listWeek');
    }

    $('input[class=event_filter]').change(function() {
      calendar.render();
    });
      
  });
  </script>

</head>
<%-include("../partials/post-head")%>

<style>
  :root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: #5d87ff;
    --fc-button-border-color: #5d87ff;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #4a6ccc;
    --fc-button-active-border-color: #4a6ccc;

    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 190px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .filter {
    grid-area: 1 / 2 / 2 / 3;
    margin: 1em 0 0 1em;
  }
  .event_filter_wrapper {
    margin: .5em 0;
  }

  #calendar {
    margin: 3em 0 0 0;
    grid-area: 1 / 1 / 2 / 2;
  }

  .festival .fc-time {
    display: none;
  }


  .fc-day-grid-event .fc-content {
    white-space: normal;
  }

  a.fc-event-past {
    background-color: grey !important; 
    border: none;
  }

  a.fc-event.hidden {
    display: none;
  }

  /* .fc .fc-button-primary {
    background-color: #5d87ff; 
    border-color: #5d87ff; 
    color: #fff; 
  } */

  /* .fc-button .fc-button-active {
    background-color: #4a6ccc; 
    border-color: #4a6ccc; 
    color: #fff;
  } */
</style>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%-include("../partials/sidebar")%>
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <%-include("../partials/header")%>
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div class="col-lg-8 d-flex align-items-stretch card">
            <div class="card-body p-4">
              <div class="filter">
                <h3>Filter</h3>
                <div class="event_filter_wrapper">
                  <input id="hh" class="event_filter" name="event_filter_sel" type="checkbox" value="hh" data-type="state" />
                  <label for="hh">Hamburg (HH)</label>
                </div>
                <div class="event_filter_wrapper">
                  <input id="sh" class="event_filter" name="event_filter_sel" type="checkbox" value="sh" data-type="state" />
                  <label for="sh">Schleswig-Holstein (SH)</label>
                </div>
                <div class="event_filter_wrapper">
                  <input id="party" class="event_filter" name="event_filter_sel"  type="checkbox" value="party" data-type="kind" checked="true" />
                  <label for="party">Party</label>
                </div>
                <div class="event_filter_wrapper">
                  <input id="concert" class="event_filter" name="event_filter_sel" type="checkbox" value="concert" data-type="kind" checked="true" />
                  <label for="concert">Concert</label>
                </div>
                <div class="event_filter_wrapper">
                  <input id="festival" class="event_filter" name="event_filter_sel" type="checkbox" value="festival" data-type="kind" checked="true" />
                  <label for="festival">Festival</label>
                </div>
              </div>
            
              <div id="calendar"></div>
              
            </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="/platform/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/platform/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/platform/assets/js/sidebarmenu.js"></script>
  <script src="/platform/assets/js/app.min.js"></script>
  <script src="/platform/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/platform/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/platform/assets/js/dashboard.js"></script>
  <script src="/platform/assets/js/theme.js"></script>
</body>

</html>