<div class="preloader-container" id="preloader">
  <!-- Bootstrap Spinner -->
  <div style="display: block; color: #780000;" class="spinner-grow" role="status">
    <span class="sr-only"></span>
  </div>
  <br />
  <div style="display: block;">
    <div style="color: #780000; font-weight: 400;" class="fs-3">&nbsp;&nbsp;&nbsp;Platform by <b>TECHMIN</b></div>
  </div>
</div>
