<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SG Ashoka</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <script src="/website/assets/js/theme.js"></script>


    <!-- Favicons -->
    <link href="/website/assets/img/favicon.png" rel="icon">
    <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/website/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>



</style>

<body>
    <%-include("../partials/menu")%>

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">

            <!-- Background image -->
            <div class="text-center bg-image"
                style="background-image: url('/website/assets/img/ashoka.jpg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
                <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="mb-3">AURA</h1>
                        </div>
                    </div>
                </div>
            </div><!-- Background image -->

        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= About Us Section ======= -->
            <section id="about" class="about">
                <div class="container">
                    <div class="row content">
                        <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div> -->

                        <div class="col-lg-12 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                            <div class="section-title" data-aos="fade-up">
                                <h2>About</h2>
                                <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
                            </div>
                            <p style="text-align: justify;">
                                Resident Assistants (RAs) are paraprofessionals who live on a floor with 40-70
                                residents,
                                managing critical administrative tasks as well as the primary responsibility of
                                responding
                                to the personal needs of these residents. Their unique positions, as quasi-staff members
                                within the Residence Halls, allow them to act as a force for positive change in the
                                lives of
                                the students with whom they interact.
                                The RA Programme aims to create an inclusive living environment in the Halls of
                                Residence
                                and works towards fostering an environment that embraces diversity and actively values
                                the
                                dignity and self-worth of all members of the community. This is done by the RAs through
                                various active community programming efforts on the floor and across the Residence
                                Halls,
                                regular one-on-one office hours, periodic floor meetings etc. The RAs also plan and host
                                a
                                plethora of social and educational activities for residents, thus, enabling a positive
                                living environment in the Residence Halls. These range from events addressing issues of
                                gender & sexuality and self-care to floor cook-offs and game nights to name a few.
                                The Resident Assistant Coordinators (RACs) along with the RA Mentors supervise and
                                manage
                                the RA Programme. The RACs work in tandem with the Director (Office of Student Affairs)
                                and
                                the Associate Director (Residence Life Office) to develop the RA Programme as a whole.
                                The
                                RACs also serve as mentors to students, and are available during selected business hours
                                to
                                discuss concerns related to Residence as well as Campus Life.

                                Contact details: The RAs contact the students allotted to them on their own, and contact
                                details are shared amongst each RA community. For other queries, you can write to
                                studentaffairs@ashoka.edu.in or residencelife@ashoka.edu.in. And here is our Instagram
                                page.
                            </p>

                        </div>
                    </div>
            </section>

            <%-include("../partials/footer")%>

        </main><!-- End #main -->

        <!-- End #main -->
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

        <!-- Vendor JS Files -->
        <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/website/assets/vendor/php-email-form/validate.js"></script>
        <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
        <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
        <script src="/website/assets/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="/website/assets/js/main.js"></script>

</body>

</html>