<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SG Ashoka</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <script src="/website/assets/js/theme.js"></script>
    <%-include("../partials/seo")%>

    <!-- Favicons -->
    <link href="/website/assets/img/favicon.png" rel="icon">
    <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/website/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<%-include("../partials/post-head")%>

<style>



</style>

<body>

    <%-include("../partials/menu")%>


        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">

            <!-- Background image -->
            <div class="text-center bg-image"
                style="background-image: url('/website/assets/img/ashoka.jpg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
                <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="mb-3">COUNCIL</h1>
                        </div>
                    </div>
                </div>
            </div><!-- Background image -->

        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= About Us Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <h2>About</h2>
                    </div>
                    <center>
                    <div class="row content">
                        <div class="col-lg-12 pt-lg-0 pb-4 pt-0" data-aos="fade-up" data-aos-delay="50">
                            <p>
                                The councils continuously work towards representing the issues of their cohort in the
                                larger Student Government and in front of the administration. Councils have also set up
                                committees pertaining to specific issues on campus. An example of the work taken up by
                                the UG council would be looking into the new CADI policy and organising the teach-ins
                                which ran throughout the month of September.
                            </p>
                        </div>
                    </div>
                    </center>
                </div>
            </section><!-- End About Us Section -->

            <!-- ======= F.A.Q Section ======= -->
            <section id="faq" class="faq">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <h2>Council</h2>
                    </div>
                    <center>
                        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="50">
                            <div class="col-lg-6">
                                <p>
                                    <b>Council Members</b>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    Sharmistha Shivhare 
                                    <br>
                                    Yashaswi Hegde
                                    <br>
                                    Mohin Viraj Gandhi
                                    <br>
                                    Ananya Makker 
                                    <br>
                                    Charvi Khullar
                                    <br>
                                    Anulya P
                                    <br>
                                    Aan Rakshit
                                    <br>
                                    Ayush Solapurkar 
                                    <br>
                                    Meenakshi Rana
                                    <br>
                                    Ajitesh Vishwanath
                                    <br>
                                    Insha Husain
                                    <!-- <br>
                                    Samarth Jain
                                    <br>
                                    Shashwat Agarwal
                                    <br>
                                    Sidh Kavedia
                                    <br>
                                    Trishika Singhania -->
                                </p>
                            </div>
                        </div>
                        </div>
                    </center>
                </div>
            </section><!-- End F.A.Q Section -->

            <%-include("../partials/footer")%>
        </main>
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

        <!-- Vendor JS Files -->
        <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/website/assets/vendor/php-email-form/validate.js"></script>
        <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
        <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
        <script src="/website/assets/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="/website/assets/js/main.js"></script>

</body>

</html>