<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SG Ashoka</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="/website/assets/js/theme.js"></script>


  <!-- Favicons -->
  <link href="/website/assets/img/favicon.png" rel="icon">
  <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/website/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<%-include("../partials/post-head")%>

<style>



</style>

<body>

  <%-include("../partials/menu")%>


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

      <!-- Background image -->
      <div class="text-center bg-image"
        style="background-image: url('/website/assets/img/ashoka.jpg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">MINISRY of COMMUNITY<br>& WELL BEING</h1>
            </div>
          </div>
        </div>
      </div><!-- Background image -->

    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>About</h2>
          </div>

          <div class="row content">
            <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div> -->
            <div class="col-lg-12 pt-lg-0 pb-4 pt-0" data-aos="fade-up" data-aos-delay="300">
              <p>
                The Ministry of Community Well-Being is one of the 7 ministries of Ashoka that works closely with the
                ACWB along with other bodies, offices and ministries in order to facilitate the well-being of every
                member in the Ashokan community by promoting inclusivity, ease of accessibility and fostering
                sensitivity and awareness. This ministry pursues projects in three areas: Infirmary and Sexual Health;
                Mental Health and Staff Welfare and Health.
              </p>
              <!-- <center><a href="#" class="btn-learn-more">Learn More</a></center> -->
            </div>
          </div>

        </div>
      </section><!-- End About Us Section -->

      <section id="about" class="about">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Mandate</h2>
          </div>

          <div class="row content">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
              <ul>
                <li><i class="ri-check-double-line"></i> Focus on improving current facilities for physical health on
                  campus.</li>
                <li><i class="ri-check-double-line"></i> Fostering a more sensitive and aware campus regarding Mental
                  Health.</li>
                <li><i class="ri-check-double-line"></i> Creating safe platforms and spaces for starting conversations
                  around the topic of Mental Health through workshops and collaborations with ACWB.</li>
                <li><i class="ri-check-double-line"></i> Fostering awareness and importance about sexual health on
                  campus.</li>
                <li><i class="ri-check-double-line"></i> Researching and introducing mechanisms and services to ease
                  accessibility to persons with — hearing, learning/cognitive, motor, visual disabilities.</li>
                <li><i class="ri-check-double-line"></i> Fostering a more disability inclusive, sensitive and aware
                  campus.</li>
                <li><i class="ri-check-double-line"></i> Facilitating a more unified and cohesive campus for the entire
                  Ashoka community.</li>
                <li><i class="ri-check-double-line"></i> Working on staff-welfare and the needs of the staff.</li>
                <li><i class="ri-check-double-line"></i> Aims to spread and inculcate awareness and preparedness for
                  emergency situations.</li>
                <li><i class="ri-check-double-line"></i> Creating more safe spaces and platforms for starting
                  conversations about the issues on inclusivity.</li>
                <li><i class="ri-check-double-line"></i> Researching on ideas and mechanisms to make Ashoka a more
                  inclusive space.</li>
              </ul>
            </div>
            <!-- <div class="col-lg-6 pt-lg-0 pb-4 pt-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Ashokan culture is a diverse set of ideas, identities, backgrounds, and interests. The Cultural Ministry, also known as Jazbaa, brings all these aspects together and makes the most out of it by ensuring a diverse and continuous set of engaging activities on campus. The ministry works on materializing the inclusivity in on-campus events by collaborating with the student body and over 30 clubs and societies on campus, along with building and maintaining an engagement with the world outside of Ashoka by encouraging intercollegiate events participation. It tries to ensure that all Ashokans find time to take breaks and replenish through socializing and investing in activities outside of the classroom. The Cultural Ministry, in essence, brings Ashoka to life.
            </p> -->
            <!-- <center><a href="#" class="btn-learn-more">Learn More</a></center> -->
          </div>
        </div>

        </div>
      </section><!-- End About Us Section -->

      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Team Members</h2>
          </div>
          <center>
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6">
                <p>
                  <b>Ministers</b>
                </p>
              </div>
              <div class="col-lg-6">
                <p>
                  Akarsh Pahuja - Minister
                </p>
              </div>
            </div>
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6">
                <p>
                  <b>Team Members</b>
                </p>
              </div>
              <div class="col-lg-6">
                <p>
                  Vini Desai<br>
                  Dhanya Sahana Inuganti<br>
                  Sachin Kumar<br>
                  Prarthna Middha<br>
                  Utsavi Prakash<br>
                  kenisha Chandak<br>
                  Mugdha Joshi<br>
                  Ayush Rawat<br>
                  Garima Upadhyay<br>
                  Kavya Sondhi<br>
                  Anushka Mehrotra<br>
                  Jasmine Bajaj<br>
                  Navya Sachdeva<br>
                  Sarah Cherian<br>
                  Padmasritha Morusupalli<br>
                  Vaishnavi Mathur<br>
                  Mihika Kulkarni<br>
                  Sukriti Chawla<br>
                  Molly Dhawan
                </p>
              </div>
            </div>
          </center>
        </div>
      </section><!-- End F.A.Q Section -->

      <%-include("../partials/footer")%>
    </main>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/website/assets/vendor/php-email-form/validate.js"></script>
    <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/website/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/website/assets/js/main.js"></script>

</body>

</html>