<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SG Ashoka</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="/website/assets/js/theme.js"></script>

  <!-- SEO Meta Tags -->
  <%-include("../partials/seo-meta")%>

  <!-- Favicons -->
  <link href="/website/assets/img/favicon.png" rel="icon">
  <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/website/assets/css/cabinet.css" rel="stylesheet">
  <link href="/website/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<%-include("../partials/post-head")%>

<style>

</style>

<body>
  <%-include("../partials/menu")%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <!-- Background image -->
    <div class="text-center bg-image" style="background-image: url('/website/assets/img/tarang.jpeg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
      <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">FINANCE<br>MINISTRY</h1>
          </div>
        </div>
      </div>
    </div><!-- Background image -->
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>About Cabinet</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6 pb-4 pt-0 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <p id="about-desc">
                The Finance Ministry has been dedicated to upholding
                transparency and accountability of the SG by framing its annual
                budget and maintaining accurate records of all its finances. It
                has expanded its ambit of operations by also focusing on
                financial literacy on campus, events, fundraisers and research
                grants.
              </p>
              <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                Our mandate is to :
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Propose the bi-annual
                  budgets to the House, keeping in mind the election mandate and
                  requirements and suggestions of the student body
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Ensure that funds are
                  dispensed and utilised responsibly
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Maintain open and
                  transparent records of all transactions, to ensure maximum
                  accountability
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Prepare monthly reports
                  and bi-annual reports of all financial activities of the SG
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Prepare quarterly
                  expenditure value reports.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <%-include("../partials/footer")%>
    </main>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/website/assets/vendor/php-email-form/validate.js"></script>
    <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/website/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/website/assets/js/main.js"></script>

</body>

</html>