<!DOCTYPE html>
<html lang="en">

<head>
    <title>Helpful Resources - AUSG</title>

    <script src="/website/assets/js/theme.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Access helpful resources at Ashoka University, including the Centre for Writing and Communication (CWC), course reviews, trajectory planners, and academic workshops." />
    <meta name="keywords" content="Ashoka University, AUSG, Helpful Resources, Centre for Writing and Communication, CWC, Academic Resources, Workshops, One-on-One Tutoring, Writing Skills, Messcat, Course Planners, Creative Events, English Language Support, Academic Bridge Programme" />
    <meta name="author" content="Ashoka University Student Government" />

    <meta property="og:title" content="Helpful Resources - Ashoka University Student Government" />
    <meta property="og:description" content="Explore resources like the Centre for Writing and Communication, course reviews, planners, and workshops to enhance your academic experience at Ashoka University." />
    <meta property="og:image" content="to_be_inserted" />
    <meta property="og:url" content="https://sg.ashoka.edu.in/resources" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Helpful Resources - Ashoka University Student Government" />
    <meta name="twitter:description" content="Discover helpful resources at Ashoka University, including academic support, course reviews, and creative workshops." />
    <meta name="twitter:image" content="to_be_inserted" />
    <meta name="twitter:site" content="@ashokaunisg" />

    <!-- Favicons -->
    <link href="/website/assets/img/favicon.png" rel="icon">
    <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <!-- <link rel="stylesheet" href="/website/assets/css/cabinet.css"> -->
    <link href="/website/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<%-include("../partials/post-head")%>

<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
    }

    .video-container iframe {
        margin-top: 55px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2px 10px;
    }

</style>

<body>

    <%-include("../partials/menu")%>


        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <!-- Background image -->
            <div class="text-center bg-image"
                style="background-image: url('/website/assets/img/ashoka.jpg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
                <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="mb-3">HELPFUL RESOURCES</h1>
                        </div>
                    </div>
                </div>
            </div><!-- Background image -->

        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= Ministries Section ======= -->
    <section id="features" class="features">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>RESOURCES</h2>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="50">
            <div class="col-lg-6 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                <h3><a href="https://sg.ashoka.edu.in/platform/course-reviews" target="_blank">Course Review</a></h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                <h3><a href="#" target="_blank">Messcat - +91 7657895429</a></h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-price-tag-2-line" style="color: #ff5828;"></i>
                <h3><a href="https://trajectory-planner.netlify.app" target="_blank">Course trajectory planner</a></h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                <h3><a href="https://prereg-helper.netlify.app/" target="_blank">Preregistration helper</a></h3>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Features Section -->

            <!-- ======= About Us Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <h2>CENTRE FOR WRITING AND COMMUNICATION (CWC)</h2>
                    </div>

                    <div class="row content">
                        <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div> -->
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
                            <p>
                                <strong>Location</strong>: 3rd floor of the Admin Block
                            </p>
                        </div>
                        <div class="col-lg-12 pt-lg-0" data-aos="fade-up" data-aos-delay="50">
                            <p >
                                <strong>
                                    <hr>Description:
                                </strong> The Centre for Writing and Communication (CWC) works closely with the academic
                                community in Ashoka to develop critical thinking, writing and communication skills. It
                                was
                                established in 2014 to create a space for discussions on writing and academic research.
                                Since then it has been catering to the burgeoning demand in academic spaces for
                                dedicated
                                intervention in and engagement with academic writing, communication and critical
                                thinking.
                                It is one of the largest centres in Ashoka University and contributes towards
                                interdisciplinary interactions between students, faculty and staff members to strengthen
                                Ashoka’s ethos for innovative and interactive curriculum as well as pedagogy.
                            </p>

                        </div>
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
                            <p>
                                <strong>
                                    <hr>Email
                                </strong>: <a href="mailto:cwc@ashoka.edu.in">cwc@ashoka.edu.in</a>

                            </p>
                        </div>
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
                            <p>
                                <strong>
                                    <hr>Website
                                </strong>: <span style="font-size: 12pt; vertical-align: baseline;"></span><a
                                    class="XqQF9c"
                                    href="https://www.google.com/url?q=https%3A%2F%2Fashoka.mywconline.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw02yn2MKro981e10I68VAwr"
                                    target="_blank">https://www.ashoka.edu.in/page/centre-for-writing-and-communication/</a>
                                <span class=" aw5Odc"
                                    style="font-size: 12pt; text-decoration: underline; vertical-align: baseline;"><span>
                            </p>
                        </div>
                        <div class="video-container">
                            <iframe class="youtube-video"
                                src="https://www.youtube.com/embed/SyEC517HUmQ?si=Ir4pqLbVaPB16fDI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen width="100%" height="500px"></iframe>
                        </div>
                    </div>

                </div>
            </section><!-- End About Us Section -->



            <!-- ======= Services Section ======= -->
            <section id="services" class="services" style="text-align: justify;">
                <div class="container">          
                  <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="50">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">One-on-one appointments</a></h4>
                        <p class="description">The one-on-one tutoring sessions provided by the CWC are
                            crucial
                            to providing individualised feedback to students through all stages of their
                            academic writing—from brainstorming ideas, to logically developing arguments and
                            finally revising their work. These are open to students across disciplines and
                            levels of study. In the academic year 2019-20, CWC conducted 1101 hours of
                            one-on-one sessions (till Dec 2019).
                            <hr>
                            <a href="https://www.google.com/url?q=https%3A%2F%2Fashoka.mywconline.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw02yn2MKro981e10I68VAwr" class="btn btn-primary" target="_blank">Book</a>
                            <!-- <span style="font-size: 12pt; vertical-align: baseline;">Book </span><a
                                class="XqQF9c"
                                
                                target="_blank">here</a><span class=" aw5Odc"
                                style="font-size: 12pt; text-decoration: underline; vertical-align: baseline;"><span></p> -->
                            </p>
                      </div>
                    </div>
          
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Workshops</a></h4>
                        <p class="description">The course-specific workshops designed and conducted by the
                            CWC
                            address the most fundamental aspects of critical thinking required for writing
                            and
                            communication. For Introduction to Critical Thinking courses, CWC’s workshops
                            are
                            built into the curriculum and are mandatory. For other courses, they are
                            optional
                            and need based.
                            CWC provides year-long English language support to students. Starting with an
                            Academic Bridge Programme conducted for incoming students in the summer, the
                            support
                            extends to English Communication and Intermediate English Communication courses
                            in
                            the Monsoon and Spring semesters respectively. These are credited-courses.</p>
                      </div>
                    </div>
          
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="50">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Creative Events</a></h4>
                        <p class="description">Besides course-specific activities, the CWC organizes a broad
                            range of creative and research activities that address a variety of skills under
                            the
                            umbrella of writing and communication. These events innovatively draw upon and
                            analyse a diverse range of activities and media which are part of our daily
                            lives:
                            news, email, music, internet, media, board games, photographs, food, and jokes,
                            to
                            name a few. These are open to the public and follow a participatory format. Our
                            creative programmes are designed and executed by the CWC team members and
                            invited
                            experts including activists, writers, performers, journalists, translators and
                            scholars.</p>
                      </div>
                    </div>
          

          
                  </div>
          
                </div>
              </section>
            <!-- <section id="services" class="services">
               
                    <div class="container">
                        <div class="row">
                           
                            <div class="col-md-4 col-lg-4 d-flex align-items-start md-5 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="50">
                                    <div class="icon"><i class="fa fa-book"></i></div>
                                    <h4 class="title"><a href="">One-on-one appointments</a></h4>
                                    <p class="description">The one-on-one tutoring sessions provided by the CWC are
                                        crucial
                                        to providing individualised feedback to students through all stages of their
                                        academic writing—from brainstorming ideas, to logically developing arguments and
                                        finally revising their work. These are open to students across disciplines and
                                        levels of study. In the academic year 2019-20, CWC conducted 1101 hours of
                                        one-on-one sessions (till Dec 2019).
                                        <hr>
                                        <span style="font-size: 12pt; vertical-align: baseline;">Book </span><a
                                            class="XqQF9c"
                                            href="https://www.google.com/url?q=https%3A%2F%2Fashoka.mywconline.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw02yn2MKro981e10I68VAwr"
                                            target="_blank">here</a><span class=" aw5Odc"
                                            style="font-size: 12pt; text-decoration: underline; vertical-align: baseline;"><span>

                                </div>
                            </div>

                            
                            <div class="col-md-4 col-lg-4 d-flex align-items-start md-6 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="50">
                                    <div class="icon"><i class="fa fa-book"></i></div>
                                    <h4 class="title"><a href="">Workshops</a></h4>
                                    <p class="description">The course-specific workshops designed and conducted by the
                                        CWC
                                        address the most fundamental aspects of critical thinking required for writing
                                        and
                                        communication. For Introduction to Critical Thinking courses, CWC’s workshops
                                        are
                                        built into the curriculum and are mandatory. For other courses, they are
                                        optional
                                        and need based.
                                        CWC provides year-long English language support to students. Starting with an
                                        Academic Bridge Programme conducted for incoming students in the summer, the
                                        support
                                        extends to English Communication and Intermediate English Communication courses
                                        in
                                        the Monsoon and Spring semesters respectively. These are credited-courses.</p>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-4 d-flex align-items-start mb-5 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="50">
                                    <div class="icon"><i class="fa fa-book"></i></div>
                                    <h4 class="title"><a href="">Creative Events</a></h4>
                                    <p class="description">Besides course-specific activities, the CWC organizes a broad
                                        range of creative and research activities that address a variety of skills under
                                        the
                                        umbrella of writing and communication. These events innovatively draw upon and
                                        analyse a diverse range of activities and media which are part of our daily
                                        lives:
                                        news, email, music, internet, media, board games, photographs, food, and jokes,
                                        to
                                        name a few. These are open to the public and follow a participatory format. Our
                                        creative programmes are designed and executed by the CWC team members and
                                        invited
                                        experts including activists, writers, performers, journalists, translators and
                                        scholars.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </section> -->

            <!-- ======= About Us Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <h2>OFFICE OF LEARNING SUPPORT</h2>
                    </div>

                    <div class="row content">
                        <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua.
                    </p>
                    <ul>
                      <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                      <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                      <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                    </ul>
                  </div> -->
                        <div style="text-align: center;" class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
                            <p>
                                <a href="https://www.ashoka.edu.in/ols-about-us/"><strong>Website</strong></a>
                            </p>
                        </div>



                    </div>
            </section><!-- End About Us Section -->

            <%-include("../partials/footer")%>
            
        </main><!-- End #main -->

        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

        <!-- Vendor JS Files -->
        <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/website/assets/vendor/php-email-form/validate.js"></script>
        <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
        <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
        <script src="/website/assets/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="/website/assets/js/main.js"></script>

</body>

</html>