<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SG Ashoka</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="/website/assets/js/theme.js
  "></script>
  <!-- Favicons -->
  <link href="/website/assets/img/favicon.png" rel="icon">
  <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/website/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>

  <%-include("../partials/menu")%>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <!-- Background image -->
    <div class="text-center bg-image" style="background-image: url('/website/assets/img/ashoka.jpg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
      <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">ASHOKA<br>UNIVERSITY</h1>
          </div>
        </div>
      </div>
    </div><!-- Background image -->

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/website/assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/website/assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/website/assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/website/assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/website/assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/website/assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Welcome</h2>
        </div>
        
        <div class="row content">
          <div class="col-lg-12 pt-4 pt-lg-0 mx-auto" data-aos="fade-up" data-aos-delay="300">
            <p style="text-align: center;">
              <b>Ashoka University Student Government, 2023-2024</b>
            </p>
            <p>
              On behalf of the Ashoka University Student Government (AUSG), it gives us immense pleasure to welcome you to Ashoka University! We are extremely pleased to have you join the Ashokan community. 
            </p>
            <p>
              The AUSG is a governing body run by the students to represent collective demands of the student body and help facilitate communication with the university's administration.
            </p>
            <p>
              The AUSG's governing document is the Student Government Constitution. It comprises the academic councils, the House of Representatives (HoR) and the Ministries. You can learn more about each of these bodies and how they make up the SG here (insert link here)
            </p>
            <p>
              It is our hope that every student at Ashoka has a wonderful undergraduate experience and can experience Ashoka at its best during their stay here. We, as the Student Government, are working to ensure that this is the case for all of you.
            </p>
            <p>
              With that we hope during your time here at Ashoka, you get to try out new interests and enjoy the company of your peers. We wish you the very best of luck, during your time at Ashoka and in all your future endeavours.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/website/assets/img/san.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sankalp Dasmahopatra</h4>
                <span>President</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/website/assets/img/tan President.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Tamanna Parikh</h4>
                <span>Vice President</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Upcoming</h2>
        </div>
        
        <div class="row content">
          <div style="text-align: center;" class="col-lg-12 pt-4 pt-lg-0 mx-auto" data-aos="fade-up" data-aos-delay="300">
            <p>
              <b>Introducing SG's Ticketing Service</b>
            </p>
            <p>
              Raise your concerns with ministries without the hassle of emailing them <a href="https://sg.ashoka.edu.in/platform/tickets">here</a>.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <%-include("../partials/footer")%>

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/website/assets/vendor/php-email-form/validate.js"></script>
  <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/website/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/website/assets/js/main.js"></script>

</body>

</html>