<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SG Ashoka</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="/website/assets/js/theme.js"></script>


  <!-- Favicons -->
  <link href="/website/assets/img/favicon.png" rel="icon">
  <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/website/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<%-include("../partials/post-head")%>

<style>



</style>
<body>
  <%-include("../partials/menu")%>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <!-- Background image -->
    <div class="text-center bg-image" style="background-image: url('/website/assets/img/ashoka.jpg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
      <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">JAZBAA</h1>
          </div>
        </div>
      </div>
    </div><!-- Background image -->

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About</h2>
        </div>

        <div class="row content">
          <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div> -->
          <div class="col-lg-12 pt-lg-0 pb-4 pt-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Ashokan culture is a diverse set of ideas, identities, backgrounds, and interests. The Cultural Ministry, also known as Jazbaa, brings all these aspects together and makes the most out of it by ensuring a diverse and continuous set of engaging activities on campus. The ministry works on materializing the inclusivity in on-campus events by collaborating with the student body and over 30 clubs and societies on campus, along with building and maintaining an engagement with the world outside of Ashoka by encouraging intercollegiate events participation. It tries to ensure that all Ashokans find time to take breaks and replenish through socializing and investing in activities outside of the classroom. The Cultural Ministry, in essence, brings Ashoka to life.
            </p>
            <!-- <center><a href="#" class="btn-learn-more">Learn More</a></center> -->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <section id="about" class="about section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Mandate</h2>
        </div>

        <div class="row content">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
            <ul>
              <li><i class="ri-check-double-line"></i> Encourage community engagement and student participation in cultural activities</li>
              <li><i class="ri-check-double-line"></i> Ensure communication with the administration on cultural affairs</li>
              <li><i class="ri-check-double-line"></i> Regularly seek feedback from the student body about the cultural experience on campus</li>
              <li><i class="ri-check-double-line"></i> Improve the frequency of events on campus, in keeping with the university policies</li>
              <li><i class="ri-check-double-line"></i> Promote collaboration and harmony between clubs and societies, and provide them with the necessary logistical support and assistance when a request is made</li>
              <li><i class="ri-check-double-line"></i> Increase involvement of clubs and societies in events both on-campus and at the inter-collegiate level</li>
              <li><i class="ri-check-double-line"></i> Help continue existing campus traditions, and establish new ones</li>
              <li><i class="ri-check-double-line"></i> Facilitate the celebration of religious, cultural and ethnic festivals</li>
              <li><i class="ri-check-double-line"></i> Maintain and record communications with corresponding cultural bodies of other colleges</li>
              <li><i class="ri-check-double-line"></i> Improve frequency and volume of participation in inter-collegiate events</li>
              <li><i class="ri-check-double-line"></i> Voting seat on Fest Secretary Interviews for the University’s cultural fest: Banjaara</li>
            </ul>
          </div>
          <!-- <div class="col-lg-6 pt-lg-0 pb-4 pt-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Ashokan culture is a diverse set of ideas, identities, backgrounds, and interests. The Cultural Ministry, also known as Jazbaa, brings all these aspects together and makes the most out of it by ensuring a diverse and continuous set of engaging activities on campus. The ministry works on materializing the inclusivity in on-campus events by collaborating with the student body and over 30 clubs and societies on campus, along with building and maintaining an engagement with the world outside of Ashoka by encouraging intercollegiate events participation. It tries to ensure that all Ashokans find time to take breaks and replenish through socializing and investing in activities outside of the classroom. The Cultural Ministry, in essence, brings Ashoka to life.
            </p> -->
            <!-- <center><a href="#" class="btn-learn-more">Learn More</a></center> -->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/website/assets/img/ministryHeads/Vamika-culmin.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Vamika Dadoo</h4>
                <span>Minister</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/website/assets/img/ministryHeads/Saransh-dep-culmin.jpeg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Saransh Goel</h4>
                <span>Deputy Minister</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/website/assets/img/ministryHeads/Anusha_Jaipuriar_Deputy Culmin.jpeg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Anusha Jaipuriar</h4>
                <span>Deputy Minister</span>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Team Members</h2>
          </div>
          <center>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <p>
                <b>Events</b>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                Amishi Gupta (UG 25) - HOD
                <br>
                Adviti Gautam (UG 25) - HOD
                <br>
                Naysa khemlani (UG 27) - Deputy HOD
                <br>
                Isha Rajput (UG 25) - Deputy HOD
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <p>
                <b>Social Media</b>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                Riya Gupta (UG 25) - HOD
                <br>
                Anwita Gopalka (UG 25) - HOD
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <p>
                <b>Finance</b>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                Anirudha Ahluwalia (UG 25) - HOD
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <p>
                <b>Club Societies & intercollegiate Team</b>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                Anoushka Kamath (UG 24) - HOD
                <br>
                Avisikta Sinha (UG 25) - HOD
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <p>
                <b>Content Communication</b>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                Tanvi Jain (UG 25) - HOD
                <br>
                Namrita A (UG 25) - HOD
              </p>
            </div>
          </div>
        </center>
        </div>
      </section><!-- End F.A.Q Section -->

      <%-include("../partials/footer")%>

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/website/assets/vendor/php-email-form/validate.js"></script>
  <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/website/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/website/assets/js/main.js"></script>

</body>

</html>