<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sports Ministry - AUSG Cabinet</title>

  <script src="/website/assets/js/theme.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Explore the Sports Ministry of Ashoka University. Learn about its commitment to fostering a sporting culture and improving sports facilities on campus." />
  <meta name="keywords" content="Ashoka University, AUSG, Sports Ministry, Sports Culture, Sporting Facilities, Athlete Support, Sports Events, Physical Literacy" />
  <meta name="author" content="Ashoka University Student Government" />

  <meta property="og:title" content="Sports Ministry - Ashoka University Student Government" />
  <meta property="og:description" content="Learn about the Sports Ministry's efforts to enhance sports facilities and promote a positive sporting culture at Ashoka University." />
  <meta property="og:image" content="to_be_inserted" />
  <meta property="og:url" content="https://sg.ashoka.edu.in/sports-ministry" />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Sports Ministry - Ashoka University Student Government" />
  <meta name="twitter:description" content="Discover the Sports Ministry's initiatives to support athletes and improve sports infrastructure at Ashoka University." />
  <meta name="twitter:image" content="to_be_inserted" />
  <meta name="twitter:site" content="@ashokaunisg" />

  <!-- Favicons -->
  <link href="/website/assets/img/favicon.png" rel="icon">
  <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/website/assets/css/cabinet.css" rel="stylesheet">
  <link href="/website/assets/css/style.css" rel="stylesheet">

  <!-- <link href="/website/assets/css/cabinet.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<%-include("../partials/post-head")%>

<style>
</style>

<body>
  <%-include("../partials/menu")%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <!-- Background image -->
    <div class="text-center bg-image" style="background-image: url('/website/assets/img/sport.jpeg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
      <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">SPORTS<br>MINISTRY</h1>
          </div>
        </div>
      </div>
    </div><!-- Background image -->
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>About Cabinet</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6 pt-lg-0 pb-4 pt-0" data-aos="fade-up" data-aos-delay="50">
              <p id="about-desc">
                The Sports Ministry in your university is dedicated to
                maintaining top-notch sporting facilities and fostering a
                positive sporting culture. We aim to encourage active
                participation in competitive sports and value commitment from
                every member, ensuring equal participation in decision-making
                processes. In addition to our core responsibilities, the
                ministry addresses various issues, including providing essential
                equipment to those in need, enhancing the quality of food for
                athletes, organizing sports-related extra-curriculars, and
                tackling toxicity in sports. We prioritize student input,
                believing in a collaborative approach to bridge the gap between
                the ministry and the student body.
              </p>
              <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>Our mandate is:</p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i>Ensure communication with
                  the administration on sports.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Push for adequate
                  facilities and ensuring proper maintenance of existing
                  facilities.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Provide support to
                  students representing Ashoka in sports.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Cultivate a community
                  sporting spirit.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Work towards more
                  efficient organisation of sports events.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Bridge the gap between
                  sports and academics.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Promote physical literacy
                  on campus.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Empower sportspersons by
                  highlighting their achievements.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->
      <!-- team -->

      <section id="team" class="team section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
            <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
          </div>
          <!-- <div class="row">
            <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="50">
                <div class="member-img">
                  <img src="/website/assets/img/sportMin/KokaSportd.jpeg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Pranav Koka</h4>
                  <span>Minister</span>
                </div>
              </div>
            </div> -->
            <!-- 2 -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto">
              <div class="member" data-aos="fade-up" data-aos-delay="50">
                <div class="member-img">
                  <img src="/website/assets/img/ministryHeads/Aryamaan_Sports.jpeg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Aryamaan Girish
                  </h4>
                  <span>Minister</span>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <!-- <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="50">
                <div class="member-img">
                  <img src="/website/assets/img/sportMin/aryamaanSports.jpeg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Aryamaan Girish</h4>
                  <span>Deputy Minister</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>



      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Team Members</h2>
          </div>

          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="50">
            <div class="col-lg-5">
              <p>Athlete Representative</p>
            </div>
            <div class="col-lg-7">
              <p>
                Prithvi Bapna
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
              <p>
                Events
              </p>
            </div>
            <div class="col-lg-7">
              <p>
                Rehaan Raha (HOD)<br> Akhil Madhavan (HOD)<br> Saransh Goel<br> Arya Shah<br> Aarya Toshniwal <br>
                Sarthak Gandhi <br>Divyanshi Kaushik<br> Prabhveer Bedi <br> Artharva Dawar <br> Snehal Papnoi<br>
                Zaahrah Merchant<br> Sridhanya Karumanchi.
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
              <p>
                Policies
              </p>
            </div>
            <div class="col-lg-7">
              <p>
                Manya Malhotra (HOD)<br> Nikhil Mishra<br> Chitrakshi Siwach<br> Anurag Moyde
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
              <p>
                Inclusivity
              </p>
            </div>
            <div class="col-lg-7">
              <p>
                Shveni Anjaria (HOD)<br> Dhrthi Bhat<br> Fatima Zahra<br> Serene Joshua<br> Aadya Shukla Tiwari<br>
                Tanisha Iyer
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
              <p>
                Finance
              </p>
            </div>
            <div class="col-lg-7">
              <p>
                Bhavya Gupta (HOD)<br> Lakshya Bamal<br> Keshav Agrawal<br> Vaibhav Saraf <br>Neetya Batra<br> Gautam
                Gupta.
              </p>
            </div>
          </div>
          <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
              <p>
                Social Media & Marketing

              </p>
            </div>
            <div class="col-lg-7">
              <p>
                Shyan Sahadev(HOD)<br> Simar Bawa<br> Veer Kagrecha<br> Hrishita Ghosh
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->
          <!-- End F.A.Q Item-->
        </div>
      </section>
      <!-- End F.A.Q Section -->

      <%-include("../partials/footer")%>
    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/website/assets/vendor/php-email-form/validate.js"></script>
    <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/website/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/website/assets/js/main.js"></script>

</body>

</html>