<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SG Ashoka</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="/website/assets/js/theme.js"></script>


  <!-- Favicons -->
  <link href="/website/assets/img/favicon.png" rel="icon">
  <link href="/website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/owl.carousel//website/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/website/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/website/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/website/assets/css/cabinet.css" rel="stylesheet">
  <link href="/website/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<%-include("../partials/post-head")%>

<style>
</style>
<body>
  <%-include("../partials/menu")%>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <!-- Background image -->
    <div class="text-center bg-image" style="background-image: url('/website/assets/img/tarang.jpeg');width:100%;height: 760px;background-size: cover;background-attachment: fixed;">
      <div style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">TARANG</h1>
          </div>
        </div>
      </div>
    </div><!-- Background image -->

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Cabinet</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6 pt-lg-0 pb-4 pt-0" data-aos="fade-up" data-aos-delay="300">
            <p id="about-desc">
              
              At Tarang, the Environment Ministry, we work towards creating a sustainable, clean
              and healthy living space within the Ashoka campus. We engage with the student body in an attempt to build a general consciousness about living sustainably, recycling, segregating waste and generating awareness about environmental concerns within and beyond the limits of the university.
            </p>
            <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Our mandate is:
            </p>
            <ul>
              <li>
                <i class="ri-check-double-line"></i> Ensure regular communication and coordination with the university operations teams on
                environment related issues.
                
              </li>
              <li>
                <i class="ri-check-double-line"></i> Reduce carbon footprint, resource usage, food wastage and other unsustainable practices
                on campus.
                
              </li>
              <li>
                <i class="ri-check-double-line"></i> Inculcate an environment-friendly culture on campus through regular dissemination of
                information and knowledge of eco-friendly practices.
                
              </li>
              <li>
                <i class="ri-check-double-line"></i> Ensure events on campus are conducted in an eco-friendly manner.

              </li>
              <li>
                <i class="ri-check-double-line"></i> Encourage waste segregation, recycling and composting on campus.
              </li>
              <li>
                <i class="ri-check-double-line"></i> Help the university and the larger Ashoka community in handling air pollution

              </li>
              <li>
                <i class="ri-check-double-line"></i> Assist the Student Government in mobilization and national engagement on climate
                justice and environment.
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
          </div>
  

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="/website/assets/img/ministryHeads/tarangHead.png" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Pratiti</h4>
                  <span>Minister</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="/website/assets/img/ministryHeads/tarangVice.png" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Aanya</h4>
                  <span>Deputy Minister</span>
                </div>
              </div>
            </div>
  <!-- 2 -->
            <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="/website/assets/img/ministryHeads/tarangVice.png" class="img-fluid" alt="">
                <div class="member-info">
                  <h4>Aanya</h4>
                  <span>Deputy Minister</span>
                </div>
              </div>
            </div>
            </div> -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="/website/assets/img/ministryHeads/tarangAdvisor.png" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Prarthana</h4>
                  <span>Advisor</span>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="/website/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Simar Singh</h4>
                  <span>Treasurer</span>
                </div>
              </div>
            </div> -->
          </div>
      </section>
      <!-- End Team Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team Members</h2>
        </div>
        
        <!-- End F.A.Q Item-->
        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <p>Research and Logistics:</p>
          </div>
          <div class="col-lg-7">
            <p>
              Shradha Dutta (UG24)
              Shubh Bafna (UG25)<br>
              Tanya Mehra (UG25)<br>
              Himangi Parekh (UG25)<br>
              Varun Khetan (UG27)<br>
            </p>
          </div>
        </div>
        <!-- End F.A.Q Item-->
        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <p>Events and Collaborations:</p>
          </div>
          <div class="col-lg-7">
            <p>
              Ganesh Naidu (ASP24)<br>
              Raveera Singh (UG24)<br>
              Prisha Mundra (UG25)<br>
              Arushi Malhotra (UG27)<br>
              Riya Jain (UG27)<br>
            </p>
          </div>
        </div>
        <!-- End F.A.Q Item-->
        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <p>Content and Design:</p>
          </div>
          <div class="col-lg-7">
            <p>
              Isha Singh (UG25) <br>
              Bhavana Gudnavar (UG25)<br>
              Aishanya Gupta (UG24)<br>
              Anika Urs (UG25)<br>
              Suprabh Raj Joshi (UG27)<br>
            </p>
          </div>
        </div>
        <!-- End F.A.Q Item-->
        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <p>Social Media and Marketing:</p>
          </div>
          <div class="col-lg-7">
            <p>
              Arya Kulkarni (UG24) <br>
              Arav Patel (UG24)<br>
              Sakshi Kate (UG27)<br>
              Diya Agrawal (UG27)<br>
            </p>
          </div>
        </div>
        <!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <p>
              <a href="https://linktr.ee/Tarang_The_Env_Ministry">Linktree</a>
            </p>
          </div>
          <div class="col-lg-7">
            <p>
              <a href="mailto:environmentministry@ashoka.edu.in">Email</a>
            </p>
          </div>
        </div>
        </div><!-- End F.A.Q Item-->

        <!-- <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
            </p>
          </div>
        </div>
        End F.A.Q Item -->

        <!-- <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Aperiam itaque sit optio et deleniti eos nihil quidem cumque. Voluptas dolorum accusantium sunt sit enim. Provident consequuntur quam aut reiciendis qui rerum dolorem sit odio. Repellat assumenda soluta sunt pariatur error doloribus fuga.
            </p>
          </div>
        </div> -->
        <!-- End F.A.Q Item-->

        <!-- <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
            </p>
          </div>
        </div> -->
        <!-- End F.A.Q Item-->
      
      </div>
    </section><!-- End F.A.Q Section -->

    <%-include("../partials/footer")%>

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/website/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/website/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/website/assets/vendor/php-email-form/validate.js"></script>
  <script src="/website/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/website/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/website/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/website/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/website/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/website/assets/js/main.js"></script>

</body>

</html>